#image{
    width: 700px;
    margin-bottom: 100px;
}
/* #header{
    max-width: 800px;
    width: 100;
    display: flex;
    background-color: azure;
    text-align: center;
    font-size: 20px;
    justify-content: center;
} */
.title{
    background: rgb(0 0 0 / 30%)
}
.main-title{
    font-size: 100px;
    color: #ffb923;
    padding: 20px 0 70px;
    background: rgba(266, 266, 266 , 0.1);
}
.ally{
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image1{
    max-width: 200px;
    width: 100%;
}
#image2{
    height: 250px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}
#feature{
    padding: 0;
}
#serve1{
    max-width: 330px;
    min-height: 200px;
    width: 100%;
}
#mission{
    height: 55px;
    border-radius: 10px;
}
#feature{
    padding-top: 60px;
}
#product{
    padding: 60px 0;
}

/* product development section */

.container-fluids{
    width: 100%;
    height: 250px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
   
}
.steps-cont {
    display: flex;
    position: relative;
    max-width: 870px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.step-line {
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DCDDDE;
}
.step-cont {
    width: 180px;
    margin: auto;
    font-family: Roboto,sans-serif;
}
.step-img{
    background-color: #505659!important;
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    color: #FFF;
}
.step-img-abbr{
    font-size: 64px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    text-align: center;
}
.text{
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
}
.step-img-caption{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #456da8;
    font-size: 14px;
    line-height: 1.3;
}
#step-cont1{
    margin-left: 0;
}
#step-cont2{
    margin-right: 0;
}

@media (max-width:992px) {
    .container-fluids{
        height: auto;    
    }
    .steps-cont{
        max-width: 767px;
        min-width: 555;
        width: 100%;
        display: block;
        text-align: center;
        padding: auto;
    }
    .step-line{
        display: none;
    }
    #step-cont1{
        margin:auto;
    }
    #step-cont2{
        margin: auto;
    }
}

/* sliding section start */

.mySlides0, .mySlides1, .mySlides {
    display: none;
}
img {  
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(250, 248, 248);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: #585858;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

/* Caption text */
.text1 {
  color: #272525;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dots2 , .dot1 , .dot0 {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active2, .active0, .active1 , .active00{
  background-color: #ffb923;
}


/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fades {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fades {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* sliding section end */

/* machinary section start */
.dots {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active3 {
    background-color: #ffb923;
  }

  .machinary{
      width: 100%;
      text-align: center;
      font-size: 30px;
      padding: 10px;
      /* line-height: 26px; */
  }
  .machine-image{
      /* max-width: 600px; */
      /* width: 100%; */
      text-align: center;
  }
  #works{
      height: 250px;
  }
  .show {
    display: block;
  }
  /* clients-section */
  .clients{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 20%;
  }
  .client-title{
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 55px;
      padding-left: 20px;
  }
  .client-logo{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      margin-right: 20px;
        align-items: center;
        justify-content: center;
  }
  .logo{
      width: 100px;
      height: 100px;
  }

  /* .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  } */